{% extends 'base.html' %}
{% block content %}
<h1>Tasks</h1>

{% for task in tasks %}
<article>
<a href="{% url 'task_detail' task.id %}">
    <h2>{{ forloop.counter }}. {{ task.title }}</h2>
</a>
    <p>{{task.description}}</p>
    <p>{{task.user}}</p>

{% if task.datecompleted is None %}
<form action="{% url 'task_completed' task.id %}" method="post">
    {% csrf_token %} <!-- TOKEN para validar si el formulario es el correcto-->
    <button> completado </button>
    
</form>
{% else %}
    <h4>COMPLETADO: {{ task.datecompleted }}</h4>

{% endif %}

<form action="{% url 'task_deleted' task.id %}" method="post">
    {% csrf_token %} <!-- TOKEN para validar si el formulario es el correcto-->
    <button> Borrar </button>
    
</form>
    

</article>
{% endfor %}




{% endblock %}
